# Django
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Yandex.rasp API
YANDEX_API_KEY=your-yandex-api-key-here

# OpenRouter API (for neural network)
OPENROUTER_API_KEY=your-openrouter-api-key-here