
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="#" class="nav-link px-2 text-secondary">Главная</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 text-white">Расписания</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 text-white">Профиль</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 text-white">О гас</a>
                </li>
            </ul>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Поиск..." aria-label="Поиск">
                </form>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Вход</button>
                    <button type="button" class="btn btn-warning">Регестрация</button>
                </div>
            </div>
        </div>
    </header>
</head>