 <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="/" class="nav-link px-2 text-white">Главная</a>
                </li>
                <li>
                    <a href="/timetable" class="nav-link px-2 text-white">Расписания</a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' username=user.username %}" class="nav-link px-2 text-white">
                            Мой профиль
                        </a>
                    {% else %}
                        <a href="/" class="nav-link px-2 text-white">
                            Мой профиль
                        </a>
                    {% endif %}
                </li>
                <li>
                    <a href="/info" class="nav-link px-2 text-white">О нас</a>
                </li>
            </ul>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Поиск..." aria-label="Поиск">
                </form>
                <div class="text-end">
                    {% if user.is_authenticated %}
                            <a href="{% url 'autho' %}" class="btn btn-danger">
                                Выйти
                            </a>
                    {% else %}
                        <button type="button" class="btn btn-outline-light me-2" onclick="window.location.href='/autho'">Войти</button>
                    {% endif %}
                    <button type="button"   class="btn btn-warning" onclick="window.location.href='/reg'">Регестрация</button>
                </div>
            </div>
        </div>
    </header>
</head>
