<header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="/" class="nav-link px-2 text-white">Главная</a>
                </li>
                <li>
                    <a href="/timetable" class="nav-link px-2 text-white">Расписания</a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' username=user.username %}" class="nav-link px-2 text-white">
                            Мой профиль
                        </a>
                    {% else %}
                        <a href="/" class="nav-link px-2 text-white">
                            Мой профиль
                        </a>
                    {% endif %}
                </li>
                <li>
                    <a href="/info" class="nav-link px-2 text-white">О нас</a>
                </li>
                <li>
                    {% load static %}
                    <a href="{% static 'usazd.apk' %}" class="nav-link px-2 text-white" download>
                        Скачать приложение
                    </a>
                </li>
            </ul>
                <form method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    {% csrf_token %}
                    {{ search_form.text }}
                </form>

                <div class="text-end">
                    {% if not user.is_authenticated %}
                        <button type="button" class="btn btn-outline-light me-2" onclick="window.location.href='/auth'">Войти</button>
                        <button type="button" class="btn btn-warning" onclick="window.location.href='/reg'">Регистрация</button>
                    {% else %}
                        {% if user.profile.is_vip %}
                            <button type="button" class="btn btn-warning" onclick="window.location.href='/{{ user.username }}/vip'">
                                VIP до {{ user.profile.vip_expire|date:"d.m.Y" }}
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-warning" onclick="window.location.href='/{{ user.username }}/vip'">Премиум</button>
                        {% endif %}
                        <button class="btn btn-warning" onclick="window.location.href='/balance'"> {{ user.profile.balance }} </button>
                        <button class="btn btn-success" onclick="window.open('https://t.me/USAZD_support', '_blank')">Поддержка</button>
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Выйти</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>